
<!DOCTYPE html>
<html>
<head>
	
    <meta charset="UTF-8">
    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   
    <link rel="stylesheet" href="/css/group.css">
    
    <script src="https://code.jquery.com/jquery-3.4.0.js"integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>
</head>
<body>
    <%- include('../includes/signedIN/navSignin.ejs') %>

<div class="col-md-12">
        <input type="hidden" id="name-user" value="<%= user.name %>">

    <div class="col-md-12">
        <div class="chat_container">
            <div class="row">
                
                <div class="col-sm-4 col-md-3 mob-clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-container">
                                <div class="card">
                                    <div class="front">
                                        <div class="cover">

                                        </div>
                                        <div class="user cover-img">
                                            <img src="https://placehold.it/300x300" class="img-circle" alt="">
                                        </div>
                                        <div class="content">
                                            <div class="card-body">
                                                <h3 class="name"><%= user.email %></h3>
                                                <p class="profession-online">
                                                    
                                                </p>
                                                <p class="text-center">
                                                  
                                                </p>
                                            </div>
                                            
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <div class="card-container">
                                <div class="card">
                                    <div class="front">

                                        <div class="content main-scroll">
                                            <div class="main" id="main_scroll">
                                                <p class="friends" style="margin-bottom:0px;">
                                                    Online Friends <span id="numOfFriends"></span>
                                                </p>
                                                <hr style="margin-top:10px" />
                                                <% if(data.friendsList.length > 0) { %>
                                                    <% for (var i = 0, l =data.friendsList.length ; i < l; i++) { %>
                                                        <div class="friend" hidden >@<%= data.friendsList[i].friendName %></div>
                                                    <% } %>
                                                <% } %>
                                                
                                                
                                               
                                                
                                                
                                                <div class="onlineFriends"></div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                
                <div class="col-sm-5 col-md-6 message_section">
                    <div class="row">
                        <div class="new_message_head">
                            <div class="pull-left">
                            <button class="club_name">
                              Group Name
                            </button>
                            </div>
                            <div class="pull-right">
                            </div>
                        </div>

                        <div class="chat_area">
                        <ul id="messages" class="list-unstyled"> 
                            <!-- <li class="left">
                                <div class="chat-body1">
                                    <span class="chat-name">Username</span>
                                    <br>
                                    Message Body
                                </div>
                            </li> -->
                        </ul>
                        <script id="message-template" type="text/template">
                        <li class="left">
                                <div class="chat-body1">
                                    <span class="chat-name">{{  sender  }}</span>
                                    <br>
                                    {{   text }}
                                </div>
                            </li>
                        
                        </script>
                        </div>

                        <div class="message_write">
                          <form  id="message_form" method="post">
                              <textarea class="form-control" name="message" id="msg" placeholder="Type a message"></textarea>
                              <div class="clearfix"></div>
                              <div class="chat_bottom">
                                  <button id="send-message" class="pull-right btn btn-primary" style="background: #4aa1f3; border: #4aa1f3; ">
                                      Send
                                  </button>
                              </div>
                          </form>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/privatechat/privateMessage.js" ></script>
<script src="/group/sendRequest.js" ></script>
<script src="/global.js" ></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>



</body>

</html>